{%extends('base.html.twig')%}


{%block title%}
    <title>Users List</title>
{%endblock%}


 {% block body %}

    <h1>Usersa</h1>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>

{% endblock %}




{# Uncomment the following block if you want to use it later

{# {%block body%}
    <h1>Users</h1>
    <ul>
        {%for user in users%}
            <li>{{user.name}} ({{user.email}})</li>
        {%endfor%}
    </ul>
{%endblock%} #}